JaketLite/.vs/JaketLite/v17/DocumentLayout.json
JaketLite/.vs/JaketLite/v17/.suo
/JaketLite/bin
/JaketLite/obj
/JaketLite/libs
/JaketLite/.vs/JaketLite/v17
JaketLite/UpgradeLog.htm

JaketLite/libs.7z
